<%= form_for(@task, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @task.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h4>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="panel panel-default">
    <div class="panel-heading">
      
    </div>
    <div class="panel-body">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon" id="title">* Título</span>
            <%=f.text_field :title, :class => "form-control", :attributes=>"aria-describedby='title'"%>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon" id="description">Descripción</span>
            <%=f.text_field :description, :class => "form-control", :attributes=>"aria-describedby='description'"%>
          </div>
        </div>

<!--         <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon" id="description">Usuarios Asociados</span>
            <%=f.text_field :description, :class => "form-control", :attributes=>"aria-describedby='description'"%>
          </div>
        </div> -->










    </div>
  </div>











  <div class="form-group">
    <% @users.each do |u| %>
      <div class="field">
        <%= check_box_tag "users[]", u.id %> <%= u.email %>
      </div>
    <%end%>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
