<div class="page-header">
  <%= link_to tasks_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_task_path(@task), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show task</h1>
</div>

<dl class="dl-horizontal">
  <dt>Título:</dt>
  <dd><%= @task.title %></dd>

  <dt>Descripción:</dt>
  <dd><%= @task.description %></dd>

  <dt>Usuarios Asignados</dt>
  <table>
    <tbody>
      <% @task.users.each do |u| %>
        <tr>  
          <dd><%= u.email %></dd>          
        </tr>
      <%end%>
    </tbody>    
  </table>
</dl>
