<!-- Listado de Usuarios -->
<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="panel-heading clearfix">
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Usuarios</h4>
            <div class="input-group">                    
                <div class="input-group-btn">
                	<button class="btn btn-primary pull-right"><i class="fa fa-user-plus"></i></button>
                    <button class="btn btn-primary pull-right"><i class="fa fa-search"></i></button>
                    <input type="text" class="form-control pull-right" placeholder="Buscar" style="max-width: 200px;">                    
                </div>
            </div>
        </div>
	</div>
	<div class="panel-body">
		<table class="display compact nowrap" width="100%" cellspacing="0" id="users">
			<thead class="thead-default">
				<tr>
					<th class="text-xs-center">
						<i class="fa fa-user fa-lg"  aria-hidden="true"></i>
					</th>
					<th class="text-xs-center">Email</th>
					<th>Rol</th>
					<th class="text-xs-center">Estado</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |f| %>
					<tr>
						<% if (f.last_name.present? || f.first_name.present?) %>
							<td><%= f.last_name %> <%= f.first_name %></td>
						<%else%>
							<td class="small muted">¡empty!</td>
						<%end%>
						<td><%= f.email %></td>
						<td><%= f.role %></td>
						<td><%= f.status %></td>
					</tr>
				<%end%>
			</tbody>
		</table>		
	</div>
</div>
