<fieldset class="scheduler-border">
<legend class="scheduler-border"><i class="fa fa-map-marker" aria-hidden="true"></i>
</legend>

<div class="form-group">
  <div class="input-group">
    <%= f.text_field :street_name, class: "form-control", :placeholder => "Calle", :attributes => "aria-describedby='street_name'" %>
    <span class="input-group-addon" id="street_name">
    	<span class="fa fa-road"></span>
    </span>
  </div>
</div>


<div class="form-group">
	<div class="input-group">
		<%= f.number_field :street_number, class: "form-control", :placeholder => "N° Calle", :attributes => "aria-describedby='street_name'" %>
    <span class="input-group-addon" id="street_name">
    	<span>#</span>
    </span>
	</div>
</div>


<div class="form-group">
  <div class="input-group">
    <%= f.text_field :monoblock, class: "form-control", :placeholder => "Monoblock", :attributes => "aria-describedby='monoblock'" %>
    <span class="input-group-addon" id="monoblock">
    	<span class="glyphicon glyphicon-"></span>
    </span>
  </div>
</div>


<div class="form-group">
	<div class="input-group">
	    <%= f.text_field :floor, class: "form-control", :placeholder => "Piso", :attributes => "aria-describedby='floor'" %>
	    <span class="input-group-addon" id="floor">
	    	<span class="glyphicon glyphicon-"></span>
	    </span>
  	</div>
</div>


<div class="form-group">
	<div class="input-group">
		<%= f.number_field :department_number, class: "form-control", :placeholder => "N° Departamento", :attributes => "aria-describedby='department_number'" %>
    <span class="input-group-addon" id="department_number">
    	<span class="glyphicon glyphicon-"></span>
    </span>
	</div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="form-group"> 
      <%= f.label :country, "Pais" %>
      <%= f.collection_select  :country, Country.order(:name), :id, :name, include_blank: true  %>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="form-group">
      <%= f.label :state, 'Provincia' %>
      <%= f.grouped_collection_select :state, Country.order(:name), :states, :name, :id, :name, include_blank: true %>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="form-group">
      <%= f.label :city_id, 'Ciudad' %>
      <%= f.grouped_collection_select :city_id, State.order(:name), :cities, :name, :id, :name, include_blank: true %>
    </div>
  </div>
</div> <!-- Fin row -->

<%= f.hidden_field :_destroy%>
<%= link_to 'Eliminar Domicilio <i class="fa fa-times fa-1x" aria-hidden="true"></i>'.html_safe, '#', class: "remove_fields btn btn-danger" %>

<script>
  $(document).ready(function(){
  var states, cities;
  cities = $('#client_address_city_id').html();
  states = $('#client_address_state').html();
  $('#client_address_country').change(function(){
    var country, options_states;
    country = $('#client_address_country :selected').text();
    options_states = $(states).filter("optgroup[label=" + country + "]").html();
    if(options_states){
      return $('#client_address_state').html(options_states);
    }else{
      return $('#client_address_state').empty();
      return $('#client_address_city_id').empty();
    }
  });
  $('#client_address_state').change(function() {
    var state, options_city;
    state = $('#client_address_state :selected').text();
    options_city = $(cities).filter("optgroup[label='" + state + "']").html();
    if(options_city){
      return $('#client_address_city_id').html(options_city);
    }else{
      return $('#client_address_city_id').empty();
    }
  });
});
</script>





</fieldset>