<%= form_for(client, remote: request.xhr?, html: { data: { modal: true } }, :validate => true) do |f| %>
<div class="modal-body">
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="input-group">
      <%= f.text_field :first_name, :class => "form-control", :placeholder => "Nombre/s", :attributes=>"aria-describedby='first_name'"%>
      <span class="input-group-addon" id="first_name">
        <span class="glyphicon glyphicon-user"></span>
      </span>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <%= f.text_field :last_name, :class => "form-control", :placeholder => "Apellido/s", :attributes=>"aria-describedby='last_name'"%>
      <span class="input-group-addon" id="last_name">
        <span class="glyphicon glyphicon-user"></span>
      </span>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <label for="#{instance.send(:tag_id)}" class="message"></label>
      <%= f.text_field :dni_number, :class => "form-control", :placeholder => "Número de DNI", :attributes=>"aria-describedby='dni_number'"%>
      <span class="input-group-addon" id="dni_number">
        <span class="glyphicon">#</span>
      </span>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <%= f.text_field :cuil_number, :class => "form-control", :placeholder => "Número de CUIL", :attributes=>"aria-describedby='cuil_number'"%>
      <span class="input-group-addon" id="cuil_number">
        <span class="glyphicon">#</span>
      </span>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <%= f.email_field :email, :class => "form-control", :placeholder => "Correo Electrónico", :attributes=>"aria-describedby='email'", :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}'%>
      <span class="input-group-addon" id="email">
        <span class="glyphicon">@</span>
      </span>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <%= f.text_field :mobile_phone, :class => "form-control", :placeholder => "Teléfono Movil", :attributes=>"aria-describedby='mobile_phone'"%>
      <span class="input-group-addon" id="mobile_phone">
        <span class="glyphicon glyphicon-phone"></span>
      </span>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <%= f.text_field :home_phone, :class => "form-control", :placeholder => "Teléfono Fijo", :attributes=>"aria-describedby='home_phone'"%>
      <span class="input-group-addon" id="home_phone">
        <span class="glyphicon glyphicon-phone-alt"></span>
      </span>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <%= f.text_field :other_phone, :class => "form-control", :placeholder => "Otro Teléfono", :attributes=>"aria-describedby='other_phone'"%>
      <span class="input-group-addon" id="other_phone">
        <span class="glyphicon glyphicon-earphone"></span>
      </span>
    </div>
  </div>

  <div class="form-group">
    <%= f.fields_for :client_addresses do |builder| %>
      <%= render "client_address_fields", f: builder %>
    <% end %>
   <%= link_to_add_fields 'Agregar Domicilio <i class="fa fa-plus fa-1x" aria-hidden="true"></i>'.html_safe, f, :client_addresses %>
  </div>

</div> <!-- Fin modal-div -->
<div class="modal-footer actions">
  <%= f.submit "Guardar", :class => "btn btn-success" %>
  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>        
</div>
<% end %>
