<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>N° DNI</th>
      <th>N° CUIL</th>
      <th>Email</th>
      <th>Estado</th>
      <th>Teléfono móvil</th>
      <th>Teléfono fijo</th>
      <th>Otro teléfono</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.first_name %></td>
        <td><%= client.last_name %></td>
        <td><%= client.dni_number %></td>
        <td><%= client.cuil_number %></td>
        <td><%= client.email %></td>
        <td><%= client.status %></td>
        <td><%= client.mobile_phone %></td>
        <td><%= client.home_phone %></td>
        <td><%= client.other_phone %></td>
        <td>
          <span>
            <%= link_to '<i class="fa fa-arrow-right" aria-hidden="true"></i>'.html_safe, client_path(client), data: { modal: true }, class: 'btn btn-default'  %>
          </span>
        </td>
        <td>
          <span>
            <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_client_path(client), data: { modal: true }, class: 'btn btn-default'  %>
          </span>
        </td>
        <td>
          <span>
            <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, client, method: :delete, data: { confirm: '¿Estás seguro de eliminar este registro?' }, class: 'btn btn-default'  %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Cliente', new_client_path, data: { modal: true }, :class => "btn btn-default" %>