<p id="notice"><%= notice %></p>

<p class="text-muted">
  CLIENTE:
  <strong><%= @client.last_name %>, <%= @client.first_name %></strong>
</p>

<p class="text-muted">
  DNI:
  <strong><%= @client.dni_number %></strong> |
  CUIL:
  <strong><%= @client.cuil_number %></strong>
</p>

<p class="text-muted">
  EMAIL:
  <strong><%= @client.email %></strong>
</p>

<p class="text-muted">
  ESTADO:
  <strong><%= @client.status %></strong>
</p>

<p class="text-muted">
  TELÉFONO (1):
  <strong><%= @client.mobile_phone %></strong>
</p>

<p class="text-muted">
  TELÉFONO (2):
  <strong><%= @client.home_phone %></strong>
</p>

<p class="text-muted">
  TELÉFONO (3):
  <strong><%= @client.other_phone %></strong>
</p>

<%= link_to 'Editar', edit_client_path(@client) %> |
<%= link_to 'Atrás', clients_path %>
