<%= form_for(@branch_office_address, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @branch_office_address.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@branch_office_address.errors.count, "error") %> prohibited this branch_office_address from being saved:</h4>

      <ul>
      <% @branch_office_address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    
      <%= f.label :street_name, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :street_name, class: "form-control" %>
      </div>
    
  </div>
  <div class="form-group">
    
      <%= f.label :street_number, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.number_field :street_number, class: "form-control" %>
      </div>
    
  </div>
  <div class="form-group">
    
      <%= f.label :monoblock, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :monoblock, class: "form-control" %>
      </div>
    
  </div>
  <div class="form-group">
    
      <%= f.label :floor, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :floor, class: "form-control" %>
      </div>
    
  </div>
  <div class="form-group">
    
      <%= f.label :department_number, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.number_field :department_number, class: "form-control" %>
      </div>
    
  </div>
  <div class="form-group">
    
      <%= f.label :city, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :city, class: "form-control" %>
      </div>
    
  </div>
  <div class="form-group">
    
      <%= f.label :branch_office, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :branch_office, class: "form-control" %>
      </div>
    
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
