<div class="page-header">
  <%= link_to new_branch_office_address_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Branch office address
  <% end %>
  <h1>Listing branch_office_addresses</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Street name</th>
            <th>Street number</th>
            <th>Monoblock</th>
            <th>Floor</th>
            <th>Department number</th>
            <th>City</th>
            <th>Branch office</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @branch_office_addresses) do |branch_office_address| %>
            <td><%= branch_office_address.street_name %></td>
            <td><%= branch_office_address.street_number %></td>
            <td><%= branch_office_address.monoblock %></td>
            <td><%= branch_office_address.floor %></td>
            <td><%= branch_office_address.department_number %></td>
            <td><%= branch_office_address.city %></td>
            <td><%= branch_office_address.branch_office %></td>
            <td><%= link_to 'Show', branch_office_address %></td>
        <td><%= link_to 'Edit', edit_branch_office_address_path(branch_office_address) %></td>
        <td><%= link_to 'Destroy', branch_office_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
