<div class="page-header">
  <%= link_to branch_office_addresses_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_branch_office_address_path(@branch_office_address), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show branch_office_address</h1>
</div>

<dl class="dl-horizontal">
  <dt>Street name:</dt>
  <dd><%= @branch_office_address.street_name %></dd>

  <dt>Street number:</dt>
  <dd><%= @branch_office_address.street_number %></dd>

  <dt>Monoblock:</dt>
  <dd><%= @branch_office_address.monoblock %></dd>

  <dt>Floor:</dt>
  <dd><%= @branch_office_address.floor %></dd>

  <dt>Department number:</dt>
  <dd><%= @branch_office_address.department_number %></dd>

  <dt>City:</dt>
  <dd><%= @branch_office_address.city %></dd>

  <dt>Branch office:</dt>
  <dd><%= @branch_office_address.branch_office %></dd>

</dl>
