<%= form_for(@client_address, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @client_address.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@client_address.errors.count, "error") %> prohibited this client_address from being saved:</h4>

      <ul>
      <% @client_address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    
      <%= f.label :street_name, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :street_name, class: "form-control" %>
      </div>
    
  </div>
  <div class="form-group">
    
      <%= f.label :street_number, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.number_field :street_number, class: "form-control" %>
      </div>
    
  </div>
  <div class="form-group">
    
      <%= f.label :monoblock, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :monoblock, class: "form-control" %>
      </div>
    
  </div>
  <div class="form-group">
    
      <%= f.label :floor, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :floor, class: "form-control" %>
      </div>
    
  </div>
  <div class="form-group">
    
      <%= f.label :department_number, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.number_field :department_number, class: "form-control" %>
      </div>
    
  </div>
<!--   <div class="form-group">
    
      <%= f.label :city, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :city, class: "form-control" %>
      </div>
    
  </div> -->
  <div class="form-group">
    
      <%= f.label :client, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :client, class: "form-control" %>
      </div>
    
  </div>

  <div class="row">
  <div class="col-md-4">
    <div class="form-group"> 
      <%= f.label :country, "Pais" %>
      <%= f.collection_select  :country, Country.order(:name), :id, :name, include_blank: true  %>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="form-group">
      <%= f.label :state, 'Provincia' %>
      <%= f.grouped_collection_select :state, Country.order(:name), :states, :name, :id, :name, include_blank: true %>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="form-group">
      <%= f.label :city_id, 'Ciudad' %>
      <%= f.grouped_collection_select :city_id, State.order(:name), :cities, :name, :id, :name, include_blank: true %>
    </div>
  </div>
</div> <!-- Fin row -->


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
   <script>
    $(document).ready(function(){
      var states, cities;
      cities = $('#client_address_city_id').html();
      states = $('#client_address_state').html();
      $('#client_address_country').change(function(){
        var country, options_states;
        country = $('#client_address_country :selected').text();
        options_states = $(states).filter("optgroup[label=" + country + "]").html();
        if(options_states){
          return $('#client_address_state').html(options_states);
        }else{
          return $('#client_address_state').empty();
          return $('#client_address_city_id').empty();
        }
      });
      $('#client_address_state').change(function() {
        var state, options_city;
        state = $('#client_address_state :selected').text();
        options_city = $(cities).filter("optgroup[label='" + state + "']").html();
        if(options_city){
          return $('#client_address_city_id').html(options_city);
        }else{
          return $('#client_address_city_id').empty();
        }
      });
    });
  </script>
<% end %>
