<div class="page-header">
  <%= link_to new_client_address_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Client address
  <% end %>
  <h1>Listing client_addresses</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Street name</th>
            <th>Street number</th>
            <th>Monoblock</th>
            <th>Floor</th>
            <th>Department number</th>
            <th>City</th>
            <th>Client</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @client_addresses) do |client_address| %>
            <td><%= client_address.street_name %></td>
            <td><%= client_address.street_number %></td>
            <td><%= client_address.monoblock %></td>
            <td><%= client_address.floor %></td>
            <td><%= client_address.department_number %></td>
            <td><%= client_address.city.name %></td>
            <td>
              <%= client_address.client.first_name %> 
              <%= client_address.client.last_name %>
            </td>
            <td><%= link_to 'Show', client_address %></td>
        <td><%= link_to 'Edit', edit_client_address_path(client_address) %></td>
        <td><%= link_to 'Destroy', client_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
