<div class="page-header">
  <%= link_to client_addresses_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_client_address_path(@client_address), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show client_address</h1>
</div>

<dl class="dl-horizontal">
  <dt>Street name:</dt>
  <dd><%= @client_address.street_name %></dd>

  <dt>Street number:</dt>
  <dd><%= @client_address.street_number %></dd>

  <dt>Monoblock:</dt>
  <dd><%= @client_address.monoblock %></dd>

  <dt>Floor:</dt>
  <dd><%= @client_address.floor %></dd>

  <dt>Department number:</dt>
  <dd><%= @client_address.department_number %></dd>

  <dt>City:</dt>
  <dd><%= @client_address.city %></dd>

  <dt>Client:</dt>
  <dd><%= @client_address.client %></dd>

</dl>
