<div class="well">	
	<h4><%= t 'devise.invitations.edit.header' %></h4><br>
	<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put, multipart: true } do |f| %>
	  <%= devise_error_messages! %>
	  <%= f.hidden_field :invitation_token %>
	  
	  <div class="form-group">
		  <div class="input-group">
		    <!-- <label class="control-label">Avatar</label> -->
	        <%= f.file_field :avatar, class: "form-control", :placeholder => "Avatar", :attributes=>"aria-describedby='avatar'"%>
	        <%= f.hidden_field :avatar_cache %>
	        <span class="input-group-addon" id="avatar">
	        	<span class="fa fa-paperclip"></span>
	      	</span>	  	
		  </div>
      </div>

	  <div class="form-group">
	    <div class="input-group">
	      <%= f.text_field :first_name, :class => "form-control", :placeholder => "Nombre/s", :attributes=>"aria-describedby='first_name'"%>
	      <span class="input-group-addon" id="first_name">
	        <span class="glyphicon glyphicon-user"></span>
	      </span>
	    </div>
	  </div>

	  <div class="form-group">
	    <div class="input-group">
	      <%= f.text_field :last_name, :class => "form-control", :placeholder => "Apellido/s", :attributes=>"aria-describedby='last_name'"%>
	      <span class="input-group-addon" id="last_name">
	        <span class="glyphicon glyphicon-user"></span>
	      </span>
	    </div>
	  </div>
		
	  <% if f.object.class.require_password_on_accepting %>
	  <div class="form-group">
	  	<div class="input-group">
	  		<%= f.password_field :password, :class => "form-control", :placeholder => "Contraseña", :attributes=>"aria-describedby='password'" %>
	  		<span class="input-group-addon" id="password">
	        	<span class="fa fa-key"></span>
	      	</span>
	    </div>
	   </div>

	  <div class="form-group">
	  	<div class="input-group">
	  		<%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Repita la contraseña", :attributes=>"aria-describedby='password_confirmation'" %>
	  		<span class="input-group-addon" id="password_confirmation">
	        	<span class="fa fa-key"></span>
	      	</span>
	    </div>
	  </div>
	  <% end %>

	  <p><%= f.submit t("devise.invitations.edit.submit_button"), class: "btn btn-primary" %></p>
	<% end %>
	
</div>
<!-- clave tesoreria zimbra para cristina  -->