<%= form_for(@branch_office, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @branch_office.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@branch_office.errors.count, "error") %> prohibited this branch_office from being saved:</h4>

      <ul>
      <% @branch_office.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    
      <%= f.label :name, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    
  </div>
  <div class="form-group">
    
      <%= f.label :cuit_number, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.number_field :cuit_number, class: "form-control" %>
      </div>
    
  </div>
  <div class="form-group">
    
      <%= f.label :email, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :email, class: "form-control" %>
      </div>
    
  </div>
  <div class="form-group">
    
      <%= f.label :status, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :status, class: "form-control" %>
      </div>
    
  </div>
  <div class="form-group">
    
      <%= f.label :mobile_phone, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.number_field :mobile_phone, class: "form-control" %>
      </div>
    
  </div>
  <div class="form-group">
    
      <%= f.label :home_phone, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.number_field :home_phone, class: "form-control" %>
      </div>
    
  </div>
  <div class="form-group">
    
      <%= f.label :other_phone, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.number_field :other_phone, class: "form-control" %>
      </div>
    
  </div>
  <div class="form-group">
    
      <%= f.label :client, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= f.text_field :client, class: "form-control" %>
      </div>
    
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
