<div class="page-header">
  <%= link_to new_branch_office_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Branch office
  <% end %>
  <h1>Listing branch_offices</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Cuit number</th>
            <th>Email</th>
            <th>Status</th>
            <th>Mobile phone</th>
            <th>Home phone</th>
            <th>Other phone</th>
            <th>Client</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @branch_offices) do |branch_office| %>
            <td><%= branch_office.name %></td>
            <td><%= branch_office.cuit_number %></td>
            <td><%= branch_office.email %></td>
            <td><%= branch_office.status %></td>
            <td><%= branch_office.mobile_phone %></td>
            <td><%= branch_office.home_phone %></td>
            <td><%= branch_office.other_phone %></td>
            <td><%= branch_office.client %></td>
            <td><%= link_to 'Show', branch_office %></td>
        <td><%= link_to 'Edit', edit_branch_office_path(branch_office) %></td>
        <td><%= link_to 'Destroy', branch_office, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
