<div class="page-header">
  <%= link_to branch_offices_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_branch_office_path(@branch_office), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show branch_office</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @branch_office.name %></dd>

  <dt>Cuit number:</dt>
  <dd><%= @branch_office.cuit_number %></dd>

  <dt>Email:</dt>
  <dd><%= @branch_office.email %></dd>

  <dt>Status:</dt>
  <dd><%= @branch_office.status %></dd>

  <dt>Mobile phone:</dt>
  <dd><%= @branch_office.mobile_phone %></dd>

  <dt>Home phone:</dt>
  <dd><%= @branch_office.home_phone %></dd>

  <dt>Other phone:</dt>
  <dd><%= @branch_office.other_phone %></dd>

  <dt>Client:</dt>
  <dd><%= @branch_office.client %></dd>

</dl>
