/*Iconos alineados a la izquierda dentro de un input*/
/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }



body {
  margin: 10px;
}
/*Fin iconos alineados a la izquierda*/

/*Padding en ventanas modal*/
.modal-dialog{
	padding: 1px !important;
}

/*fieldset.custom{
	display: block;
    margin-left: 2px;
    margin-right: 2px;
    margin-top:  2px;
    padding-top: 0.30em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
}*/

fieldset.scheduler-border {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
          box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: left !important;
  width:auto;
  padding:0 10px;
  border-bottom:none;
}

select.width-100{
  width: 100% !important;
}

/*Mismo tamaño*/
.input-group-addon {
    min-width:200px;
    text-align:left;
}
